<!DOCTYPE html>
<html lang=”en” xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>all Players</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Team</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="player:${players}">
            <td th:text="${player.id}"></td>
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td th:text="${player.age}"></td>
            <td th:text="${player.team.name}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/addTeam}">Add Team</a>
    <a th:href="@{/addPlayer}">Add Player</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>